.menuDock {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 0.4rem 0.8rem;
    border-radius: 0.6rem;
    gap: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: var(--shadow-menu-dock);
    z-index: 100;
}

.toolButton {
    background-color: transparent;
    border: none;
    color: var(--color-icon-fill);
    cursor: pointer;
    padding: 0.6rem;
    border-radius: 0.6rem;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.toolButton:hover {
    background-color: var(--color-background-violet);
}

.toolButton.active {
    background-color: var(--color-background-violet);
    color: var(--color-dark-violet);
}

.tooltip {
    position: absolute;
    top: 3rem;
    color: var(--color-tertiary-gray);
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    font-size: 0.75rem;
    letter-spacing: 0.6px;
    font-weight: 300;
    width: 28rem;
    margin-top: 1rem;
    text-align: center;
    display: none;
    box-shadow: var(--shadow-tooltip);
}
